<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    
</head>

<body>
    <p id="heading">User Registration</p>
    <hr id="urLine" size="2" color="grey">
    <p>Please give correct information...</p>
    <form action="post" method="post">
        <label for="fname">First name :</label>
        <input type="text" id="fname" name="fname"><br>
        <hr>

        <label for="lname">Last name :</label>
        <input type="text" id="lname" name="lname"><br>
        <hr>

        <label for="email">Email address :</label>
        <input type="text" id="email" name="email"><br>
        <hr>

        <label for="country">Country :</label>
        <input type="search" id="country" name="country"><br>
        <hr>

        <label for="stad">Street address :</label>
        <input type="text" id="stad" name="address"><br>
        <hr>

        <label for="city">City :</label>
        <input type="text" id="city" name="city"><br>
        <hr>

        <label for="state">State / Province :</label>
        <input type="text" id="state" name="state"><br>
        <hr>

        <label for="zip">Zip / Postal code :</label>
        <input type="text" id="zip" name="zip"><br>
        <hr>

        <button submit="post">Register</button>

        <script src="./index.js"></script>

    </form>

</body>

</html>