#total{
    margin: 5%;
    font-family: 'Inter', sans-serif;
    box-shadow: 20px 20px 50px grey;
    border-radius: 10px;
}
.top{
    display: flex;
    justify-content: flex-start;
    background-color: #ff4c68;
    height: 300px;
    border-radius: 10px;
}
img{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 30px;
    border: 5px;
    border-style: solid;
    border-color: aliceblue;
}
.top-name{
    margin-top: 120px;
    margin-left: 15%;

}
.top-name p{
    margin-top: 0;
    font-size: large;
    font-style: bold;
}
.top-name h1{
    margin-bottom: 10px;
}
button{
    border-radius: 5px;
    border: none;
    background-color: black;
    font-size: larger;
    color: whitesmoke;
}
.mid-part{
    margin: 70px 35px 80px;
    display: flex;
    justify-content: flex-start;
}
.mid-left{
    width: 35%;
    margin-left: 35px;
    margin-right: 150px;
    border-radius: 5px;
    font-style: bold;
}
.mid-right{
    width: 50%;
    margin-left: 35px;
    font-style: bold;
}
.skhead{
    margin-left: 35px;
}
.skills{
    margin-left:35px;
    display: flex;
    justify-content: flex-start;
}
td{
   font-size: large;
   font-style: bold;
}
.skill-left{
    width: 35%;
    margin-left:35px;
    margin-right: 150px;
}
.skill-right{
    width: 50%;
    margin-left: 35px;
}


.bottom-cont{
    margin-top: 30px;
    padding: 50px 0 20px;
    margin-left: 38%;
  }
  .footer-link{
    padding-left: 15px;
    color: #11999E;
    text-decoration: none;
    font-size: large;
  }
  .footer-link:hover{
    color: black;
  }
  .bottom-cont p{
    margin-left: 75px;
    margin-bottom: 0;
  }
